* {
  border: 0;
  margin: 0;
  padding: 0;
}

button {
  text-align: center;
}

h2 {
  color: hsl(0, 0%, 95%);
  padding-bottom: 10%;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  height: 30%;
  padding-bottom: 50%;
}

.attribution {
  text-align: center;
}

.btn {
  border-radius: 5%;
}

.card-group{
  padding: 10% 27.5%;
}

.card-img-top {
  width: 75px;
}

.strong {
  color: rgba(0, 0, 0, 0.5);
}

#card-1, #card-2, #card-3 {
  border: none;
}

#col-1, #col-2, #col-3 {
  padding: 2.5%;
}

#card-1, #col-1 {
  background-color: hsl(31, 77%, 52%);
}

#card-2, #col-2 {
  background-color: hsl(184, 100%, 22%);
}

#card-3, #col-3 {
  background-color: hsl(179, 100%, 13%);
}
